//Những khối code dùng chung và tái sử dụng lại được
@mixin radius_common ($radius: 10px) {
  border-radius: $radius;
}

@mixin flex_box_custom($x,$y, $gap: 10px) {
  display: flex;
  justify-content: $x;
  align-items: $y;
  gap: $gap;
}

@mixin btn($width, $height, $radius, $color: #fff) {
  outline: none;
  border: 1px solid #e1e1e1;
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: $radius;
  @include radius_common($radius); //cách sử dung mixin
}


