//Lưu tất car các biến về màu sắc, kích thước, độ dài, độ rộng dùng chung cho dự án
$primary_color:#333;
$seconddary_color: #888;
$thr_color: #555555;
$four_color:#222;
$white_color: #ffffff;
$sub_color: #404040;

